<html>
    <head>

    </head>
    <body>
        <form method = "POST" action = "/add">
            <label >Title:  </label> <input type = "text" name = "title"><br>
            <label >ImageUrl:  </label> <input type = "text" name = "imageurl"><br>
            <label >id:  </label> <input type = "text" name = "id"><br>
            <label >Short Description:  </label> <input type = "text" name = "shortdes"><br>
            <label >Long Description:  </label> <input type = "text" name = "longdes"><br>
            <label >Price:  </label> <input type = "text" name = "price"><br>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>