<html>
    <head>

    </head>
    <body>
        <form method = "POST" action = "/user/add">
            <label >FirstName:  </label> <input type = "text" name = "firstname"><br>
            <label >LastName:  </label> <input type = "text" name = "lastname"><br>
            <label >Email:  </label> <input type = "text" name = "email"><br>
            <label >MobileNumber:  </label> <input type = "text" name = "mobileno"><br>
            <label >Password:  </label> <input type = "text" name = "password"><br>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>