<div class = "row">
  <app-topnavbar-page></app-topnavbar-page>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <img src="https://i.dell.com/sites/csimages/Videos_Images/en/9eb776ec-d2b3-450c-b340-e1b5f6f31eeb.jpg"
        alt="Los Angeles" style="width:80%">
      <div class="carousel-caption">
        <h2 style="color: rgb(5, 3, 3);
          text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(255, 255, 255);">Dell</h2>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="https://i.ytimg.com/vi/5I2XxMhbvn4/maxresdefault.jpg" alt="Chicago" style="width:auto">
      <div class="carousel-caption">
        <h3>Oneplus 6T McLaren</h3>
        <p>Salute to Speed</p>
      </div>
    </div>

    <div class="item">
      <img
        src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/2/7/3a34d3d5-5939-4355-a57b-d13855747c821549554674484-Roadster-Slide-1920-x-504-px_New.jpg"
        alt="New York" style="width:auto">
      <div class="carousel-caption">
        <h3>RoadSter</h3>
        <p></p>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>

<div class="container">
  <div class="row">

    <a routerLink="/productpage/l2">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/71F4EwEErQL._SL1500_.jpg"
              class="img-responsive homeimg" alt="Image"></div>
          <div class="panel-footer">Lenovo Ideapad</div>
        </div>
      </div>
    </a>

    <a routerLink="/productpage/g1">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/61tGx1Nx5HL._UL1500_.jpg"
              class="img-responsive homeimg" alt="Image"></div>
          <div class="panel-footer">Younky Wayfarer Unisex Sunglasses </div>
        </div>
      </div>
    </a>

    <a routerLink="/productpage/w7">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/81xMRp8IyAL._UL1500_.jpg"
              class="img-responsive homeimg" alt="Image"></div>
          <div class="panel-footer">Titan Neo Analog Watch</div>
        </div>
      </div>
    </a>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <a routerLink="/productpage/ms1">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/31Emc%2BVUBrL.jpg"
              class="img-responsive homeimg" alt="Image"></div>
          <div class="panel-footer">ViVi Polo Shirt</div>
        </div>
      </div>
    </a>

    <a routerLink="/productpage/g2">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/612XTFUR0eL._UL1500_.jpg"
              class="img-responsive homeimg" alt="Image" style=""></div>
          <div class="panel-footer">SOJOS UV Protected Goggles</div>
        </div>
      </div>
    </a>
    <a routerLink="/productpage/ws3">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/61ojoAN4Z%2BL._UL1500_.jpg"
              class="img-responsive homeimg" alt="Image"></div>
          <div class="panel-footer"> Women Formal Shirt</div>
        </div>
      </div>
    </a>
  </div>
</div><br>
<!-- <footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer> -->