.container {
	background-color:  #ebebe0;
	border-style: solid;
	border: 10px solid white;
	border-radius:10px;
}
body {
	background-color:black;
}
.col-md-9 {
	border-left: 10px solid white;
}